In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
import sklearn.metrics as metrics
import math

In [11]:
sample_submission = pd.read_csv("House-price.csv")
test = pd.read_csv("House-price-test.csv")
train = pd.read_csv("House-price-train.csv")

In [13]:
sample_submission.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [14]:
sample_submission.isnull().sum()

Id           0
SalePrice    0
dtype: int64

In [38]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [16]:
test.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [17]:
test1 = test

In [34]:
test1 = test1.drop("Alley", axis = 1)

In [35]:
test1 = test1.drop("MSZoning", axis = 1)

In [32]:
test1 = test1.drop("Street", axis = 1)

In [36]:
test1.shape

(1459, 77)

In [41]:
test1 = test1.fillna("LotFrontage", axis = 0)

In [42]:
test1

,Id,MSSubClass,LotFrontage,LotArea,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,80.0,11622,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,120,0,LotFrontage,MnPrv,LotFrontage,0,6,2010,WD,Normal
1,1462,20,81.0,14267,IR1,Lvl,AllPub,Corner,Gtl,NAmes,...,0,0,LotFrontage,LotFrontage,Gar2,12500,6,2010,WD,Normal
2,1463,60,74.0,13830,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,LotFrontage,MnPrv,LotFrontage,0,3,2010,WD,Normal
3,1464,60,78.0,9978,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,LotFrontage,LotFrontage,LotFrontage,0,6,2010,WD,Normal
4,1465,120,43.0,5005,IR1,HLS,AllPub,Inside,Gtl,StoneBr,...,144,0,LotFrontage,LotFrontage,LotFrontage,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,21.0,1936,Reg,Lvl,AllPub,Inside,Gtl,MeadowV,...,0,0,LotFrontage,LotFrontage,LotFrontage,0,6,2006,WD,Normal
1455,2916,160,21.0,1894,Reg,Lvl,AllPub,Inside,Gtl,MeadowV,...,0,0,LotFrontage,LotFrontage,LotFrontage,0,4,2006,WD,Abnorml
1456,2917,20,160.0,20000,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,...,0,0,LotFrontage,LotFrontage,LotFrontage,0,9,2006,WD,Abnorml
1457,2918,85,62.0,10441,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,...,0,0,LotFrontage,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,74.0,9627,Reg,Lvl,AllPub,Inside,Mod,Mitchel,...,0,0,LotFrontage,LotFrontage,LotFrontage,0,11,2006,WD,Normal

In [43]:
test1.isnull().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
LotShape         0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
Length: 77, dtype: int64

# Make a Copy

In [44]:
c_test = test.copy()
c_train = train.copy()

In [45]:
c_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [46]:
c_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal